$colores:(
    color-principal: #843326,
    color-negro: #420039,
    color-blanco: #F8FFF4,
    color-azul-1: #445E93,
    color-azul-2: #1C5D99,
    color-azul-transparente:  #445e93c5,
    color-rojo: #771f11,
    color-blanco-transparente: #f8fff4cc


);


$fuentes: (
  'fuente-principal': ('Young Serif', serif),
  'fuente-poppins': ('Poppins', sans-serif),
  'fuente-roboto-flex': ('Roboto Flex', sans-serif),
  'fuente-roboto-mono': ('Roboto Mono', monospace)
);