$colores:(
    color-principal: #C05746,
    color-negro: #420039,
    color-blanco: #F8FFF4,
    color-azul-1: #445E93,
    color-azul-2: #1C5D99


);


$fuentes: (
  'fuente-principal': ('Young Serif', serif),
  'fuente-poppins': ('Poppins', sans-serif),
  'fuente-roboto-flex': ('Roboto Flex', sans-serif),
  'fuente-roboto-mono': ('Roboto Mono', monospace)
);