.forms{

  

    display: flex;
        flex-direction: column;
        align-items: center;

    .article-forms{

        width: 35%;
        background-color: white;
        padding: 2rem;

        .carta-agregar-form{

            display: flex;
            flex-direction: column;



            
        }


    }

    .article-buscar{

        background-color: white;

        padding: 1rem;
        margin: 1rem;


        .resultado-busqueda{
            margin-top: 2rem;
            
        }

    }


    .article-eliminar{

        background-color: white;
        padding: 2rem;

    }


    



}