.forms{

  

    display: flex;
        flex-direction: column;
        align-items: center;

    .article-forms{

        width: 35%;
        background-color: map-get($colores, color-azul-2 );
        padding: 2rem;

        .carta-agregar-form{

            display: flex;
            flex-direction: column;



            
        }


    }



    



}