// haciendo el reset css
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// importando los parcials
@import 'maps';
@import 'header';
@import 'footer';
@import 'index';
@import 'sistema';
